<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="ms-appx-web:///Web/Content/app.css" rel="stylesheet" />
    <script src="ms-appx-web:///Web/Scripts/jquery-2.1.4.min.js"></script>
    <script src="ms-appx-web:///Web/Scripts/hammer.min.js"></script>
    <script src="ms-appx-web:///Web/Scripts/app.js"></script>
</head>
<body>
    <div id="content">
        {0}
    </div>
</body>
</html>