<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="../Content/app.css" rel="stylesheet" />
    <script src="../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../Scripts/hammer.min.js"></script>
    <script src="../Scripts/app.js"></script>
</head>
<body>
    <div id="content">

        <div class="MidL_con">
            <!--<div style="padding-left: 15px;">
                <iframe name="adc1" marginwidth="1" marginheight="1" height="60" width="600" scrolling="no" border="0" frameborder="0" src="http://www.gamersky.com/img/baidu_300acg.htm"></iframe>
            </div>-->

            <p>
                十月新番《阿松》在日本的人气非常火爆，甚至引发了一系列的社会现象，<a class="n1" target="_blank" href="http://acg.gamersky.com/news/201512/692975.shtml">引起媒体关注</a>。近日，又有惊人消息曝出——收录有《阿松》海报的杂志竟然在短短五天时间内卖到脱销，杂志社被迫紧急重版！
            </p>
            <p> 这本名为《PASH！》的杂志在其1月号中为读者附赠了一张《阿松》的海报，原本是想促进销量，没想到却引爆了《阿松》粉丝们的购买热潮。据官方介绍，在12月10日《PASH！》杂志发售后，短短五天时间内所有商品竟然全部完售！杂志社也在今天（12月17日）破例决定紧急重版来满足更多粉丝的需求。</p>
            <p align="center">
                <a target="_blank" href="http://www.gamersky.com/showimage/id_gamersky.shtml?http://img1.gamersky.com/image2015/12/20151217sy_15/gamersky_01origin_01_201512171654413.jpg"><img class="picact" border="0" alt="游民星空" src="http://img1.gamersky.com/image2015/12/20151217sy_15/gamersky_01small_02_201512171654799.jpg"></a><br>
                《PASH！》杂志1月号附赠的《阿松》海报
            </p>
            <p> 得知这一切后，有网友表示“将在1月9日发售的《Animage》杂志2月号里将收录《阿松》特集篇，看来到时候这本杂志也要被抢购一空了吧……”</p>
            <p align="center">
                <a target="_blank" href="http://www.gamersky.com/showimage/id_gamersky.shtml?http://img1.gamersky.com/image2015/12/20151217sy_15/gamersky_02origin_03_201512171654B5F.jpg"><img class="picact" border="0" alt="游民星空" src="http://img1.gamersky.com/image2015/12/20151217sy_15/gamersky_02small_04_201512171654FA9.jpg"></a><br>
                将于1月9日发售的《Animage》杂志2月号收录了《阿松》特集篇
            </p>
            <p> 《阿松》是1962年漫画界巨匠赤冢不二夫创作的以六胞胎为主题的爆笑漫画，自今年10月开播后可以说是出尽风头。再加上其他同样也是个性派的配角，《阿松》编织出了一个有欢笑有泪水的故事。</p>

            <!--红蓝观点-->
            <!--分页 开始-->
            <!--{pe.begin.pagination}--><span id="pe100_page_contentpage" class="pagecss"></span><!--{pe.end.pagination}-->
            <!--分页 结束-->
        </div>
    </div>
</body>
</html>